@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*
{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellota Text', cursive;
}
body
{
    /*display: flex;*/
    margin-top: 105px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

}

.ourTeam {
    /*width: 200px;*/
    height: 400px;
    margin-top: 150px;
    text-align: center;
    font-size: xxx-large;
    background-image: url("../assets/review-jumbo.jpg");

}

.ourTeam h1{

}

.aboutContainer
{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #666666;

}
.aboutContainer .aboutCard
{
    width: 267px;
    height: 416px;
    padding: 60px 30px;
    margin: 20px;
    background: #f2f3f7;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9,
    -0.5em -0.5em 1em #ffffff;
    border-radius: 20px;
}
.aboutContainer .aboutCard .aboutContent
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aboutContainer .aboutCard .aboutContent .imgBx
{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.aboutContainer .aboutCard .aboutContent .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutContainer .aboutCard .aboutContent .aboutContentBx h4
{
    color: #36187d;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}
.aboutContainer .aboutCard .aboutContent .aboutContentBx h5
{
    color: #6c758f;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
.aboutContainer .aboutCard .aboutContent .sci
{
    margin-top: -1px;
}
.aboutContainer .aboutCard .aboutContent .sci a
{
    text-decoration: none;
    color: #6c758f;
    font-size: 30px;
    margin: 10px;
    transition: color 0.4s;
}
.aboutContainer .aboutCard .aboutContent .sci a:hover
{
    color: #0196e3;
}

/*.jumbotron-2 {*/
/*    background: url('../assets/review-jumbo.jpg') center no-repeat;*/
/*    background-size: cover;*/
/*    padding-top: 15%;*/
/*    padding-bottom: 15%;*/
/*    height: 600px;*/
/*    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif*/

/*}*/
/*   colors
        #f2f3f7
        #d2dce9
        #36187d
        #6c758f
        #0196e3