body {
    font-family: 'Helvetica Neue', Tahoma, Geneva, Sathu, sans-serif;
    color: darkseagreen;
    background: rgb(170, 169, 169);
    /*margin: 0;*/
    /*padding: 0;*/
}

.faculties {
    display: flex;
    flex-wrap: inherit;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

/*div img {*/
/*    width: 550px;*/
/*    filter: drop-shadow(0 10px 5px black);*/
/*}*/



.unit {
    margin: 25px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unit img {
    border-radius: 200px;
    width: 170px;
    height: 170px;
    margin-bottom: 10px;
}

.unit p {
    text-align: left;
    font-color: black;
    margin: 2px;
}

/*.wrapper1 {*/
/*    justify-content: space-evenly;*/
/*    */
/*}*/

.wrapper {
    font-family: 'Helvetica Neue', Tahoma, Geneva, Sathu, sans-serif;
    color: lightsalmon;
    width: 641px;
    margin: 0 auto;
}

.unit p:first-of-type {
    font-weight: bolder;
    margin-bottom: 5px;
}

/*.unit {*/
/*    margin: 25px;*/
/*    width: 200px;*/

/*}*/

.circular--square {
    border-radius: 50%
}

@media screen and (max-width: 820px) {
    .wrapper {
        width: 80%;
        padding: 5px 30px;
    }
    .faculties {
        width: 80%;
        padding: 5px 30px;

    }
}