* {
    box-sizing: border-box;
}
.body {
    font-family: sans-serif;
}
i {
    cursor: pointer;
}
.cart {
    position: fixed;
    /*position: absolute;*/
    top: 10%;
    right: 3%;
    color: #fff;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}
.cart-amount {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    background-color: red;
    color: white;
}
/*Style rules for some label and buttons*/
.text-center {
    text-align: center;
    margin-bottom: 20px;
}
.products,
.checkout, .removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}
.checkout {
    background-color: green;
}
.removeAll {
    background-color: red;
}

.bi-x-lg {
    color: red;
    font-weight: bold;
}
/*Style rules for shopping cart*/
.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
}
/*Style rules for cart item*/
.cart-item {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
}
.title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-price {
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart-item-price {
    background-color: #212529;
    color: white;
    border: 4px;
    padding: 3px 6px;
}