body {
    margin: 0;
    padding: 0;
    background: #ececec;
}
.check{
    position: relative;
    top: 20px;
}

input[type="checkbox"]{
    height: 50px;
    width: 70px;
    border-radius: 30px;
    -webkit-appearance: none;
    outline: none;
    background: white;
    transition: .6s ease;
    cursor: pointer;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.62), 10px 10px 15px rgba(70,70,70,0.12);
}

input[type="checkbox"]:checked{
    background: rgb(61,61,61);
    box-shadow: 1000px 1000px 0 1600px rgba(0, 0, 0, 0.38);
}

input[type="checkbox"]::after{
    content: '\f0e7';
    font-family: FontAwesome;
    font-size: 30px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 5px;
    left: 30px;
}

input[type="checkbox"]:checked::after {
    content: '\f186';
    font-family: FontAwesome;
    font-size: 30px;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 5px;
    left: 10px;
}