.homeBody{
    background: white;
}

.homeLogo{
    text-indent: -999999999px;
    background: url("../assets/iplant-logo.png");
    width: auto;
    height: 500px;
    background-size: cover;
    align-content: center;
}
