.mainPlantId{
    background-color: rgba(236, 235, 235, 0.51);
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.mb-3{
    margin-top: 20px;
    padding-top: 10px;
}
.form-label-plantId{
    font-weight: bold;
    font-size: larger;
    color: darkslategrey;
}
.form-control-plantId{
    margin-bottom: 5px;
    padding: 5px;
}
.instructions{
    margin-left: 60px;
}