
:root {
    --color-dark: #151C35;
    --color-secondary-dark: #464C70;
    --color-primary: #EE709D;
    --color-text: #8297E2;
    --color-light: #EBEBFB;
}
.upper {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.review {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/*.container-m {*/
/*    display: flex;*/
/*    height: 50vh;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-top: 20px;*/
/*    margin-bottom: 20px;*/
/*    padding:20px;*/

/*}*/

.card.single-review {
    background-color: #495771;
    padding: 15px;
    height: 300px;
    width: 350px;
    margin-top: 15px;
    border: solid #fff;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.card-text {
    text-align: center;
    color: #fff;
    font-size: 17px;

}

button.editReview {
    background-color: #fff;
    color: #495771;
}

button.deleteReview {
    background-color: #fff;
    color: #495771;
}

.review-list {
    color: #fff;
    font-size: 20px;
}

.user-image img {
    border: 3px solid #fff;
    padding: 2px;
    height: 60px;
    width: 60px;

}

img.rounded-circle {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;

}
