
:root {
    --color-dark: #151C35;
    --color-secondary-dark: #464C70;
    --color-primary: #EE709D;
    --color-text: #8297E2;
    --color-light: #EBEBFB;
}
.upper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-m {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:20px;

}


.card single-review {
    background-color: #fff;
    padding: 15px;
    border: none;
    height: 250px;
    margin-top: 10px
}

.card-text {
    text-align: center;
}



